<!doctype html>
<html lang="pl">
	<head>
		<title>test</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://files.yourcraft.pl/mdbv2pro.css">
		<link rel="stylesheet" href="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/css/mdb.min.css" />
		<link rel="stylesheet" href="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/dev/css/new-prism.css" />
		<link rel="stylesheet" href="https://www.sklepmc.pl/static/css/mdb.min.css">
		<link rel="stylesheet" href="/shopcss.css">
	</head>
	<body>
		<div class="container mt-md-4 px-md-5  pb-md-5">
			<div class="pt-3 pt-sm-5 pb-4 pb-sm-5">
				<div class="row">
					<div class="row w-120">

						<div class="col-md-8 mt-md-8 mt-4">
							<div class="row">
								<div class="col-md-18">

										<% rows1.forEach(function(rows1) { %>

											<div class="tab-content card mt-4 ">
												<center>
													<H1><%= rows1.name %></H1>
												</center>
												<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4xVJ43zxTCs3PohFoWyXOJ-Vf1SW8O3Le8g&usqp=CAU" width="100" alt="">
												<center>
	
											
												<div style="margin-left: 4cm; margin-right: 4cm;"><%= rows1.lore %> </div>
												<div style="margin-left: 4cm; margin-right: 4cm;"><center>Cena: <%= rows1.price %>zł</center></div>
											</center>
												<hr>
												<center>
													<button class="btn btn-primary" style="border-radius: 10px; "  type="button" data-toggle="modal" data-target="#basicExampleModal<%= rows1.name %>">Kup</button>
												</center>
												<div class="modal fade" id="basicExampleModal<%= rows1.name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
												aria-hidden="true">
												<div class="modal-dialog" role="document">
												  <div class="modal-content">
													<div class="modal-header">
													  <h5 class="modal-title" id="exampleModalLabel">Płatność</h5>
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													  </button>
													</div>
													<div class="modal-body">
														<form action="" method="POST">
															<input class="modal-btn" type="hidden" id="<%= rows1.name %>form" name="test" value="<%= rows1.name %>"/>
															<input class="modal-btn" type="hidden" id="<%= rows1.name %>form1" name="pid" value="<%= rows1.pid %>"/>

															<div class="form-outline">
																<input type="text" id="<%= rows1.name %>form" class="form-control" required/>
																<label class="form-label" for="<%= rows1.name %>form" name="pay">Twój nick</label>
															  </div>
															  <br>
															<% if(rows1.type == 'suwak'){ %>
	
																<input type="range" id="count" name="count" class="form-range"
																min="<%= rows1.mincount %>" max="<%= rows1.maxcount %>">
																<label for="count">Ilość <span id="demo"></span></label>
							
															<% }else{ %>
							
																
															<% } %>
			
													</div>
													<div class="modal-footer">
													  <button type="submit" class="btn btn-primary" style="border-radius: 10px; ">Płatność</button>
													</div>
												</form>
												  </div>
												</div>
											  </div>
											</div>

										<% }); %>
								</div>

							</div>
						</div>
						<div class="col-md-4 mt-md-5 mt-4">
							<div class="row">
								<div class="col-md-12">
									<div class="card mb-4 pb-0">
										<h5 class="mt-2 py-1 text-center widget-header">Status serwera</h5>
										<hr class="mx-2 py-0 mt-0 mb-0">
										<center>
											<h2 style="color: red;">OFFLINE</h2>
										</center>
									</div>
								</div>
								<div class="col-md-12">
									<div class="card mb-4 pb-0">
										<h5 class="mt-2 py-1 text-center widget-header">Voucher</h5>
										<hr class="mx-2 py-0 mt-0 mb-0">
										<div class="p-3 pb-2">
											<input type="text" placeholder="nick">
											<h4>.</h4>
											<input type="text" placeholder="Kod vouchera">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="card mb-4 pb-0">
										<h5 class="mt-2 py-1 text-center widget-header">Ostatnie zakupy</h5>
										<hr class="mx-2 py-0 mt-0 mb-3">
										<div class="row">
											<div class="col-md-12 mb-3">
												<div class="row px-3">
													<div class="">
														<img class="avatar-img" src="https://www.topkamc.pl/content/player/dupa/avatar?dimensions=32" width="38" height="38">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var slider = document.getElementById("count");
			var output = document.getElementById("demo");
			output.innerHTML = slider.value;
			
			slider.oninput = function() {
			  output.innerHTML = this.value;
			}
			</script>
            <script type="text/javascript" src="https://mdbootstrap.com/previews/mdb-ui-kit/sidenav/js/mdb.min.js"></script>
    </body>
</html>