<%- include('../includes/sidebar'); -%>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <br>
    <center>
      <h1>Logi płatności</h1>
    </center>
    <br>
    <section>
      <div class="row">
        <div class="card">
          <div class="card-body">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">Usluga</th>
                  <th scope="col">Nick</th>
                  <th scope="col">Zaplacone</th>
                  <th scope="col">Data</th>
                </tr>
              </thead>
              <tbody>
                <% rows.forEach(function(rows) { %>
                  <tr>
                    <td><%= rows.product %></td>
                    <td><%= rows.nick %></td>
                    <% if(rows.paid == 'false') {%>
                      <td><span class="badge bg-danger">Nie</span></td>
                    <% } else { %>  
                    <td><span class="badge bg-success">Tak</span></td>
                    <% } %>
                    <td><% var txt = rows.data %><% var timestamp = moment.unix(txt.substring(0, txt.length - 3)) %><%- timestamp.locale("pl").format('lll') %></td>
                  </tr>
              <% }); %>
              </tbody>
            </table>
          </div>
    </div>
      </div>
    </section>
  </div>
</main>
<%- include('../includes/footer'); -%>
</body>
</html>