<%- include('../includes/sidebar'); -%>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <br>
    <center>
      <h1>Produkty</h1>
    </center>
    <br>
    <section>
      <div class="row">

            <div class="card" >
                <div class="card-body">
                  <% if (!rows[0]) { %>   
                    <p>Nie znaleziono żadnych produktów! Dodaj je <a href="/panel/manage/<%= id %>/addproduct">tutaj</a></p>
                  <% } else { %>
                    <table class="table" >
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nazwa</th>
                          <th scope="col">ID</th>
                          <th scope="col">Cena</th>
                          <th scope="col">Ilość zakupów</th>
                          <th scope="col">Suwak</th>
                          <th scope="col">Usuń</th>
                          <th scope="col">Akcja</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% rows.forEach(function(rows) { %>
                          <tr>
                            <td><img src="<%= rows.image %>" alt="" width="50px"></td>
                            <td><%= rows.name %></td>
                            <td><%= rows.pid %></td>
                            <td><%= rows.price %>zł</td>
                            <td>0</td>
                            <% if(rows.type == 'suwak'){ %>
                              <td><span class="badge bg-success">ON</span></td>
                            <% } else { %>
                              <td><span class="badge bg-danger">OFF</span></td>
                            <% } %>
                            <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button> </td>
                            <td><a href="/panel/manage/<%= id %>/editproduct/<%= rows.pid %>" class="btn btn-primary">Edytuj</a></td>
                          </tr>
                      <% }); %>
                      </tbody>
                    </table>
                   <% } %>   
                </div>
              </div>
          </div>
    </section>
  </div>
</main>
<%- include('../includes/footer'); -%>
</body>
</html>