<%- include('../includes/sidebar'); -%>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <br>
    <center>
      <h1>Ustawienia</h1>
    </center>
    <br>
    <section>
      <div class="row">
        <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Dane sklepu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Webhook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-three-messages-tab" data-toggle="pill" href="#custom-tabs-three-messages" role="tab" aria-controls="custom-tabs-three-messages" aria-selected="false">Wiadomości</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-three-settings-tab" data-toggle="pill" href="#custom-tabs-three-settings" role="tab" aria-controls="custom-tabs-three-settings" aria-selected="false">Personalizacja</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                        <form method="post" action="">
                            <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">                        <div class="row">
                                <div class="col-lg-6">
                                    <div class="card h-100">
                                        <div class="card-header custom-card-header">
                                            <h3 class="card-title">Płatności</h3>
                                        </div>
                                        <div class="tab-pane" id="tab_1">
                                            <div class="row">
                                            <div class="col-lg-8">
                                                <form action="" method="post">
                                                    <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">                                <input type="hidden" value="37" name="id">
                                                <label>Lvlup API key</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <% rows.forEach(function(rows) { %>
                                                        <input type="text" class="form-control" name="lvlup_key" value="<%= rows.lvlupkey %>">
                                                    <% }); %>
                                                </div>
                                                <br>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card h-100">
                                        <div class="card-header custom-card-header">
                                            <h3 class="card-title">Opis</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <textarea class="form-control" name="description" id="full-description"><%= desc %></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a class="txt2" href="#">	
                                              <%- captcha %>
                                            </a>
                                          </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="Aktualizuj">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>                
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                        <form method="post" action="webhook">
                            <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="card h-100">
                                        <div class="card-header custom-card-header">
                                            <h3 class="card-title">Webhook</h3>
                                        </div>
                                        <div class="tab-pane" id="tab_1">
                                            <div class="row">
                                            <div class="col-lg-8">
                                                <form action="" method="post">
                                                    <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">   
                                                    <br>                             <input type="hidden" value="37" name="id">
                                                <label>Webhook URL</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <% rows.forEach(function(rows) { %>
                                                        <input type="text" class="form-control" name="webhook_url" value="<%= rows.webhook_url %>">
                                                    <% }); %>
                                                </div>
                                                <br>
                                                <label>Webhook title</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <% rows.forEach(function(rows) { %>
                                                        <input type="text" class="form-control" name="webhook_title" value="<%= rows.webhooktitle %>">
                                                    <% }); %>
                                                </div>
                                                <br>
                                                <label>Webhook lore</label>
                                                <p>Dostępne zmienne: {player} - nick gracza, {count} - ilość produktu (tylko gdy suwak jest włączony)</p>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">$</span>
                                                    </div>
                                                    <% rows.forEach(function(rows) { %>
                                                    <input type="text" class="form-control" name="webhook_lore" value="<%= rows.webhooklore %>">
                                                    <% }); %>
                                                </div>
                                                <br>
                                                <label>Kolor embedu</label>
                                                <hr>
                                                <style>
                                                  #e1 {
                                                      float:left;
                                                      width:40%;
                                                      margin-right: 100px;
                                                  }
                                                  #e2 {
                                                      float:right;
                                                      width:30%;
                                                  }
                                                </style>
                                                <div class="input-group">
                                                    <div>
                                                      <div >
                                                          <div id="e1">
                                                              <div class="half">
                                                                  <div class="colorPicker"></div>
                                                                </div>
                                                          </div>
                                                          <div id="e2">
                                                              <div>
                                                                  <div id="values"></div>
                                                                  <% rows.forEach(function(rows) { %>
                                                                   <input id="hexInput" name="webhook_color" value="<%= rows.webhook_color %>"></input>
                                                                   <hr>
                                                                   <p>Aktualny kolor <b><%= rows.webhook_color %></b></p>
                                                                  <% }); %>
                                                                </div>
                                                          </div>
                                                        </div>
                                                  </div>
                                                </div>
                                                <br>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a class="txt2" href="#">	
                                              <%- captcha %>
                                            </a>
                                          </div>
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="Aktualizuj">
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </form>    
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-three-messages" role="tabpanel" aria-labelledby="custom-tabs-three-messages-tab">
                      <form method="post" action="msg">
                        <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-header custom-card-header">
                                        <h3 class="card-title">Wiadomości</h3>
                                    </div>
                                    <div class="tab-pane" id="tab_1">
                                        <div class="row">
                                        <div class="col-lg-8">
                                            <form action="" method="post">
                                                <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">   
                                                <br>                             <input type="hidden" value="37" name="id">
                                            <label>Przerwa techniczna</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <% rows.forEach(function(rows) { %>
                                                    <input type="text" class="form-control" name="offmsg" value="<%= rows.offmsg %>">
                                                <% }); %>
                                            </div>
                                            <br>

                                            <br>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="card-body">
                                    <div class="text-center">
                                        <a class="txt2" href="#">	
                                          <%- captcha %>
                                        </a>
                                      </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Aktualizuj">
                                    </div>
                                </div>
                              </div>
                          </div>
                        </form>  
                    </div>
                    <div class="tab-pane fade" id="custom-tabs-three-settings" role="tabpanel" aria-labelledby="custom-tabs-three-settings-tab">
                      <form method="post" action="shop">
                        <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card h-100">
                                    <div class="card-header custom-card-header">
                                        <h3 class="card-title">Personalizacja</h3>
                                    </div>
                                    <div class="tab-pane" id="tab_1">
                                        <div class="row">
                                        <div class="col-lg-8">
                                            <form action="" method="post">
                                                <input type="hidden" name="_token" value="EAO7h1nZi71a9QmMAgG37jmkhe8xuRuKUFmQF6Wf">   
                                                <br>                             <input type="hidden" value="37" name="id">
                                            <label>Title</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <% rows.forEach(function(rows) { %>
                                                    <input type="text" class="form-control" name="shop_title" value="<%= rows.shoptitle %>">
                                                <% }); %>
                                            </div>
                                            <label>Nazwa</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <% rows.forEach(function(rows) { %>
                                                    <input type="text" class="form-control" name="shop_name" value="<%= rows.shopname %>">
                                                <% }); %>
                                            </div>
                                            <label>Styl CSS</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <% rows.forEach(function(rows) { %>
                                                    <input type="text" class="form-control" name="shop_css" value="<%= rows.shopcss %>">
                                                <% }); %>
                                            </div>
                                            <label>Motyw jasny/ciemny</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>  
                                                <div class="form-outline mb-4">  
                                                    <% rows.forEach(function(rows) { %>
                                                        <% if(rows.theme == "light") { %>
                                                            <select name="theme" id="type" class="btn btn-light">
                                                                <option value="light">jasny</option>
                                                                <option value="dark">ciemny</option>
                                                            </select>
                                                        <% } else { %>
                                                            <select name="theme" id="type" class="btn btn-dark">
                                                                <option value="dark">ciemny</option>
                                                                <option value="light">jasny</option>
                                                            </select>

                                                       <% } %>  
                                                </div>
                                                    <% }); %>
                                            </div>
                                            <label>Widget z statusem serwera</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <% rows.forEach(function(rows) { %>
                                                  <div class="form-outline mb-4">
                                                      <% if(rows.serverstatus == 'true'){ %>
                                                          <select name="serverstatus" id="type" class="btn btn-success">
                                                              <option value="true">on</option>
                                                              <option value="false">off</option>
                                                          </select>
                                                          <% } else  { %>
                                                          <select name="serverstatus" id="type" class="btn btn-danger">
                                                              <option value="false">off</option>
                                                              <option value="true">on</option>
                                                          </select>
                                                      <% } %>     
                                              </div>
                                                <% }); %>
                                            </div>
                                            <label>Kolor sklepu</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                  <div class="form-outline mb-4">
                                                    <% rows.forEach(function(rows) { %>
                                                    <a class="btn btn-<%= rows.color %>" data-toggle="modal" data-target="#basicExampleModal">Otworz menu</a>
                                                    <% }); %>
                                              </div>
                                            </div>
                                            </form>
                                        </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <div class="card-body">
                                    <div class="text-center">
                                        <a class="txt2" href="#">	
                                          <%- captcha %>
                                        </a>
                                      </div>
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Aktualizuj">
                                    </div>
                                </div>
                              </div>
                              
                          </div>
                        </form> 

                        <br>
                        <br>
                        <% rows.forEach(function(rows) { %>
                            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Kolor sklepu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <form action="shop/color" method="POST">
                                        <p>Kliknij kolor który chcez wybrać</p>
                                        <button type="submit" class="btn btn-primary" value="primary" name="color"></button>
                                        <button type="submit" class="btn btn-secondary" value="secondary" name="color"></button>
                                        <button type="submit" class="btn btn-success" value="success" name="color"></button>
                                        <button type="submit" class="btn btn-danger" value="danger" name="color"></button>
                                        <button type="submit" class="btn btn-warning" value="warning" name="color"></button>
                                        <button type="submit" class="btn btn-info" value="info" name="color"></button>
                                        <button type="submit" class="btn btn-dark" value="dark" name="color"></button>
                                      <hr>
                                    </form>
                                    <br>
                              </div>
                          </div>
                            <% }); %> 
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
<script>
    var colorPicker = new iro.ColorPicker(".colorPicker", {
        width: 280,
        color: "rgb(255, 0, 0)",
        borderWidth: 1,
        borderColor: "#fff",
    });
    var values = document.getElementById("values");
    var hexInput = document.getElementById("hexInput");
    colorPicker.on(["color:init", "color:change"], function(color){
        values.innerHTML = [
        "hex: " + color.hexString,
        "rgb: " + color.rgbString,
        "hsl: " + color.hslString,
        ].join("<br>");
        hexInput.value = color.hexString;
    });
    hexInput.addEventListener('change', function() {
        colorPicker.color.hexString = this.value;
    });
</script>
<%- include('../includes/footer'); -%>
</body>
</html>