<%- include('../includes/sidebar1'); -%>
<main style="margin-top: 58px">
  <div class="container pt-4">
    <br>
    <center>
      <h1>Twoje sklepy</h1>
    </center>
    <br>
    <section>
      <div class="row">
        <% rows.forEach(function(rows) { %>
          <div class="col-xl-6 col-sm-6 col-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between px-md-1">
                  <p>Nazwa <b><%= rows.title %></b><br>
                    <% if (rows.status == 'true'){ %>
                      Status <span class="badge bg-success">Aktywny</span><br>
                    <% }else{ %>
                      Status <span class="badge bg-danger">Wygasł</span><br>
                    <% } %>
                  Data utworzenia <b><% var txt = rows.createdate %><% var timestamp = moment.unix(txt.substring(0, txt.length - 3)) %><%- timestamp.locale("pl").format('lll') %></b>
                  </p> 
                  <h3><%= rows.id %></h3>
                </div>
                <hr>
                <a href="/shop/manage/<%= rows.id %>" class="btn btn-primary">zarzadzaj</a>
                <a href="/shop/<%= rows.id %>" class="btn btn-success"><i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
            <% }); %>
      </div>
    </section>
  </div>
</main>
<%- include('../includes/footer'); -%>
</body>
</html>